name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x

    - name: Restore API
      run: dotnet restore  NumberToWords.API/NumberToWords.API.csproj

    - name: Restore Tests
      run: dotnet restore NumberToWords.Tests/NumbersToWords.Tests.csproj

    - name: Build
      run: dotnet build NumberToWords.API/NumberToWords.API.csproj --no-restore

    - name: Test
      run: dotnet test NumbersToWords.Tests/NumbersToWords.Tests.csproj --no-build --verbosity normal